* {
	box-sizing: border-box;
}

:root {
	--color-bg: rgb(241, 240, 245);
	--color-green: rgb(87, 149, 79);
	--color-gold: rgb(214, 131, 83);
	--color-blue: rgb(86, 116, 198);
	--color-light-blue: rgb(202, 220, 236);
	--color-yellow: rgb(187, 205, 25);
}

::selection {
	color: var(--color-yellow);
}


/* RESET */
/* ========================================================= */

html {
	font-family: sans-serif;
	font-size: 20px;
	background-color: var(--color-bg);
	/* -webkit-text-stroke-color: currentColor;
	-webkit-text-stroke-width: 1px; */
	letter-spacing: 0.03em;
	line-height: 1.2;
}

@media (max-width: 1000px) {
	html {
		font-size: 16px;
	}
}


@media (max-width: 600px) {
	html {
		font-size: 14px;
	}
}

h1,
h2,
h3 {
	margin: 0;
	font-size: 1rem;
	font-weight: inherit;
}

figure {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

body {
	margin: 0;
}

/* LOGO */
/* ========================================================= */

.Logo {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% / 3);
	z-index: -1;
	pointer-events: none;
	padding: 1rem;
	padding-left: 0.5rem;
}

@media (max-width: 1000px) {
	.Logo {
		width: 50%;
	}
}

@media (max-width: 600px) {
	.Logo {
		width: 100%;
	}
}

.Logo-image {
	mask-mode: luminance;
	mask-size: contain;
	background-color: var(--color-light-blue);
}

/* MAIN NAV */
/* ========================================================= */

.MainNav {
	margin-bottom: 2rlh;
	color: var(--color-gold);
}

.MainNav-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.MainNav-item:hover,
.MainNav-item.is-active,
.MainNav-item:first-child {
	color: black;
}

.MainNav a {
	text-decoration: none;
}

/* SECTION */
/* ========================================================= */

.Section {
	padding: 1rem;
}

.Section-header {
	margin-bottom: 1rlh;
}

.Section-body {
	margin-bottom: 8rlh;
}

.Section--home {
	min-height: calc(100vw / 3 - 1.75rlh);
}

@media (max-width: 1000px) {
	.Section--home {
		min-height: calc(100vw / 2 - 1.75rlh);
	}
}

@media (max-width: 600px) {
	.Section--home {
		min-height: calc(100vw - 1.75rlh);
	}
}

.Section--about {
	min-height: calc(50vh);
}

.Footer {
	padding: 1rem;
}


/* SECURITY RIBBON */
/* ========================================================= */

.SecurityRibbon {
	display: block;
	color: var(--color-blue);
	font-size: 0.75rem;
	margin-bottom: 0.5rem;
}

.SecurityRibbon:last-child {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

/* PRODUCT LIST */
/* ========================================================= */

.ProductList {
	display: flex;
	flex-wrap: wrap;
	gap: 3rlh;
}

@media (max-width: 1000px) {
	.ProductList {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rlh 1rem;
	}
}

@media (max-width: 600px) {
	.ProductList {
		display: grid;
		grid-template-columns: 1fr;
		gap: 3rlh 1rem;
	}
}

/* PRODUCT */
/* ========================================================= */

.Product {
	display: grid;
	gap: 1rem;
}

.Product--issue {
	grid-template-columns: 2fr 1fr;
	grid-column: 1/-1;
	flex: 0 0 100%;
}

@media (max-width: 1000px) {
	.Product--issue {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 600px) {
	.Product--issue {
		grid-template-columns: 1fr;
	}
}

.Product--issue .Product-caption {
	display: flex;
	flex-direction: column;
}

.Product--issue .Product-header {
	flex: 1;
	display: flex;
	justify-content: start;
	align-items: start;
}

@media (max-width: 1000px) {
	.Product--issue .Product-header {
		flex: unset;
	}
}

@media (max-width: 600px) {
	.Product--issue .Product-header {
		aspect-ratio: 2/1;
		justify-content: center;
		align-items: center;
	}
}


.Product-issueNumber {
	color: var(--color-blue);
	position: relative;
	font-size: 6rem;
	font-weight: bold;
	color: #C44B1F;
	letter-spacing: 0.05em;
	-webkit-text-stroke-color: var(--color-blue);
	-webkit-text-stroke-width: 0.07em;
	line-height: 1;
	position: sticky;
	top: 1rem;
}

@media (max-width: 1000px) {
	.Product-issueNumber {
		font-size: 4rem;
	}
}

@media (max-width: 600px) {
	.Product-issueNumber {
		position: relative;
	}
}


.Product-issueNumber::before,
.Product-issueNumber::after {
	content: attr(data-num);
	position: absolute;
	left: 0;
}

.Product-issueNumber::before {
	-webkit-text-stroke-color: white;
	-webkit-text-stroke-width: 0.1em;
	z-index: -1;
}

.Product-issueNumber::after {
	background: -webkit-linear-gradient(#8b691b, #d4ad41);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: none;
	-webkit-text-stroke-width: 0;
}

.Product-hologram {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-start;
}

@media (max-width: 600px) {
	.Product-hologram {
		aspect-ratio: 2/1;
		justify-content: center;
	}
}

.Product-hologram a {
	display: contents;
	text-decoration: none;
}

.Product-meta {
	color: var(--color-green);
}

/* HOLOGRAM */
/* ========================================================= */

@property --a {
	syntax: '<angle>';
	inherits: false;
	initial-value: 0deg;
}

@property --p1 {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 100%;
}

@property --p2 {
	syntax: '<length-percentage>';
	inherits: false;
	initial-value: 110%;
}

.HologramSticker {
	--a: 0deg;
	--p1: 100%;
	--p2: 110%;
	position: relative;
	cursor: pointer;
	max-width: max-content;
	padding: 1rlh;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.HologramSticker-layer {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	transition: --p1 0.2s;
}	

.HologramSticker:hover .HologramSticker-layer {
	--p1: 50%;
	--p2: 70%;
}

.HologramSticker-layer[data-layer="1"] {
	background: radial-gradient(100% 100% at 50% 0%,
		#2ad0ca 0%,
		#e1f664 22.92%,
		#feb0fe 46.88%,
		#abb3fc 68.23%,
		#5df7a4 87.5%,
		#58c4f6 100%);
}

.HologramSticker-layer[data-layer="2"],
.HologramSticker-layer[data-layer="3"] {
	background: conic-gradient(from var(--a) at 50% 50%,
		#000000 -24.66deg,
		#ffffff 0.25deg,
		#000000 50.63deg,
		#000000 51.97deg,
		#ffffff 88.12deg,
		#000000 120.5deg,
		#ffffff 196.87deg,
		#000000 256.87deg,
		#ffffff 300deg,
		#000000 335.2deg,
		#000000 335.34deg,
		#ffffff 360.25deg);
}

.HologramSticker-layer[data-layer="2"] {
	mix-blend-mode: difference;
}

.HologramSticker-layer[data-layer="3"] {
	mix-blend-mode: exclusion;
}

.HologramSticker-layer[data-layer="4"] {
	background: linear-gradient(135deg, 
		black var(--p1), 
		white var(--p1), 
		black var(--p2));
	mix-blend-mode: screen;
	z-index: 2;
	opacity: 0.75;
}

.HologramSticker-text {
	position: relative;
	z-index: 1;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	font-family: monospace;
	text-align: center;
	letter-spacing: 0.2em;
	paint-order: stroke fill;
	color: snow;
	-webkit-text-stroke: gray;
	-webkit-text-stroke-width: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: break-all;
}

/* UPDATELIST */
/* ========================================================= */

.UpdateList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

@media (max-width: 1000px) {
	.UpdateList {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media (max-width: 600px) {
	.UpdateList {
		grid-template-columns: repeat(1, 1fr);
	}
}


/* UPDATE */
/* ========================================================= */

.Update {
	position: relative;
	display: block;
	flex: 0 0 50%;
	padding-top: 0.5rlh;
	/* padding: 0.5rem; */
	/* display: inline; */
}

.Update-body {
	display: inline;
}

.Update-image {
	display: inline-block;
	mask-mode: luminance;
	mask-size: cover;
	background-color: var(--color-green);
	width: 100%;
	vertical-align: top;
	/* image-rendering: pixelated;
	image-rendering: -moz-crisp-edges; */
	position: relative;
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
}

/* META TEXT */
/* ========================================================= */

.MetaText {
	color: var(--color-yellow);
	text-transform: uppercase;
	font-size: 0.7rem;
	--offset: 0.2rem;
	letter-spacing: 0.5rem;
}

.MetaText span {
	display: inline-block;
	position: relative;
}


/* FOOTER */
/* ========================================================= */

.Footer p {
	font-size: 0.75rem;
	color: var(--color-blue);
}

/* UTILITES */
/* ========================================================= */

.u-formatText p {
	margin-bottom: 1rlh;
}

.u-formatText ul {
	margin-bottom: 1rlh;
}

.u-formatText ul li::before {
	content: '✫';
	display: inline-block;
	margin-right: 2ch;
}

.u-formatText h1,
.u-formatText h2,
.u-formatText h3 {
	margin-bottom: 1rlh;
}